body {
    background-color: $color-black;
}
* {
    &:focus {
        outline: none;
    }
}
.w-auto {
    width: auto;
}
.bg-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    height: 564px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.go-back {
    display: flex;
    align-items: center;
    margin: 40px 0px 30px 0px;
    img {
        margin-right: 18px;
    }
}
.logo {
    width: 235px;
    margin-bottom: 40px;
}
.cursor-pointer {
    cursor: pointer;
}
.error-message {
    color: $color-red;
    font-size: $size-24;
    font-family: "Montserrat Medium";
    margin-top: 20px;
    padding-left: 40px;
}
// ===== MARGIN =====
// Top
.mt-75 {
    margin-top: 75px !important;
    @media only screen and (max-width: 599px) {
        margin-bottom: 35px !important;
    }
}
// Bottom
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
    @media only screen and (max-width: 599px) {
        margin-bottom: 20px !important;
    }
}
// Right
.mr-20 {
    margin-right: 20px !important;
}
.mr-30 {
    margin-right: 30px !important;
    @media only screen and (max-width: 599px) {
        margin-bottom: 15px !important;
    }
}
.wrapper-content {
    height: calc(100vh - 303px);
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}