h1 {
    font-family: "Montserrat Regular";
    font-size: $size-55 !important;
    margin: 0 !important;
}
h2 {
    font-family: "Montserrat Medium" !important;
    font-size: $size-36 !important;
    margin: 0 !important;
}
h3 {
    margin: 0 !important;
    font-size: $size-30;
    font-family: "Montserrat Medium";
}
h4 {
    margin: 0 !important;
    font-size: $size-24;
    font-family: "Montserrat Medium";
}
h5 {
    margin: 0px !important;
    font-size: $size-18;
    font-family: "Montserrat Medium";
}
p {
    font-size: $size-16;
    font-family: "Montserrat Medium";
    margin: 0 !important;
}
.label {
    font-family: "Montserrat SemiBold";
    font-size: $size-18;
    color: $color-gray-500;
    &--green {
        color: $color-green;
    }
    &--red {
        color: $color-red;
    }
    &--blue {
        color: $color-blue;
    }
}
.label-gray {
    color: $color-gray-100;
    font-size: $size-24;
    font-family: "Montserrat SemiBold";
}
.copyright {
    color: $color-gray-100;
    font-family: "Montserrat Regular";
    font-size: $size-16;
}