// ========== COLORS ==========
// Black
$color-black: #000000;
// White
$color-white: #ffffff;
$color-white-100: #FCFCFC;
$color-white-700: #dededf;
$color-white-900: #dbdbdc;
// Gray
$color-gray: #DBDBDB;
$color-gray-100: #929293;
$color-gray-200: #4F4F4F;
$color-gray-300: #333333;
$color-gray-400: #201F21;
$color-gray-500: #181719;
// Red
$color-red: #EB5757;
$color-red-800: #fce7e7;

// Blue
$color-blue: #2F80ED;

// Green
$color-green: #3CAA68;

// Yellow
$color-yellow: #F2C94C;

// ========== FONT SIZE ==========
$size-9: 0.562rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-17: 1.0625rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-26: 1.625rem;
$size-30: 1.875rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-40: 2.5rem;
$size-46: 2.875rem;
$size-48: 3rem;
$size-50: 3.125rem;
$size-55: 3.4375rem;
$size-60: 3.75rem;
$size-70: 4.375rem;
$size-90: 5.625rem;
$size-100: 6.25rem;
// ========== SPACING ==========
$spacing-0: 0rem;
$spacing-5: 0.312rem;
$spacing-10: 0.625rem;
$spacing-15: 0.937rem;
$spacing-18: 1.125rem;
$spacing-20: 1.25rem;
$spacing-25: 1.562rem;
$spacing-30: 1.875rem;
$spacing-35: 2.187rem;
$spacing-40: 2.5rem;
$spacing-45: 2.812rem;
$spacing-50: 3.125rem;
$spacing-60: 3.75rem;
$spacing-80: 5rem;
$spacing-100: 6.25rem;
