.btn-riflow-dark {
    background-color: $color-gray-500;
    border-radius: 4px;
    border: none;
    height: 97px;
    width: 100%;
    font-size: $size-24;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin-right: 10px;
    }
    span {
        color: $color-white;
        font-family: "Montserrat Medium";
    }
    &--small {
        height: 70px;
        min-width: 250px;
        width: auto;
    }
}
.btn-riflow-gray {
    background-color: $color-gray;
    border-radius: 4px;
    border: none;
    height: 97px;
    width: 100%;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: $color-gray-500;
        font-family: "Montserrat Medium";
        font-size: $size-24;
        white-space: nowrap;
    }
    img {
        margin-right: 10px;
    }
    &--small {
        height: 46px;
        span {
            font-size: $size-18;
        }
    }
}
.btn-riflow-white {
    background-color: $color-white;
    border-radius: 4px;
    border: none;
    height: 97px;
    width: 100%;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: $color-gray-500;
        font-family: "Montserrat Medium";
        font-size: $size-24;
    }
    img {
        margin-right: 10px;
    }
    &--small {
        height: 46px;
        span {
            font-size: $size-18;
        }
    }
}