.custom-dropdown {
    .dropdown {
        width: 100%;
        height: 46px;
        background-color: $color-white-900;
        border-radius: 4px;
        margin-bottom: 30px;
        button {
            width: 100%;
            height: 46px;
            background-color: $color-white-900 !important;
            border: none !important;
            outline: none !important;
            border-radius: 4px;
            color: $color-gray-500;
            font-family: "Montserrat Medium";
            box-shadow: none !important;
            &:focus {
                outline: none !important;
                border: none !important;
                box-shadow: none !important;
                color: $color-gray-500;
            }
            &:active {
                outline: none !important;
                border: none !important;
                box-shadow: none !important;
                color: $color-gray-500 !important;
            }
        }
    }
}