.riflow-input {
    width: 100%;
    input {
        background-color: $color-gray;
        border-radius: 4px;
        border: none;
        height: 97px;
        width: 100%;
        font-size: $size-24;
        padding: 0px 40px;
        color: $color-gray-500;
        font-family: "Montserrat Medium";
        &::placeholder {
            color: $color-gray-500;
            font-family: "Montserrat Medium";
        }
    }
    .error-message {
        display: none;
    }
    &--error {
        input {
            background-color: $color-red-800;
        }
        .error-message {
            display: block;
        }
    }
}
.custom-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    input {
        border-radius: 4px;
        background-color: $color-white-900;
        border: none;
        outline: none;
        padding: 0px 20px;
        height: 46px;
        color: $color-gray-500;
        font-family: "Montserrat Medium";
        &::placeholder {

        }
        &:focus {
            outline: none;
            border: none;
        }
    }
    .error-message {
        margin-top: 10px;
        padding-left: 20px;
        font-size: $size-18;
        font-family: "Montserrat Medium";
        display: none;
    }
    &--error {
        input {
            background-color: $color-red-800;
        }
        .error-message {
            display: block;
        }
    }
}