.riflow-cards {
    padding: 40px 30px;
    background-color: $color-white-700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    .avatar {
        width: 120px;
        height: 120px;
        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        //background-images: url("");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-bottom: 20px;
        img {

        }
    }
    .btn-riflow-white {
        margin-top: 40px;
    }
    .icon-more {
        position: absolute;
        right: 10px;
        top: 20px;
        cursor: pointer;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .edit-delete {
            box-shadow: 0px 22px 35px rgba(0, 0, 0, 0.06);
            border-radius: 4px;
            background-color: $color-white-100;
            padding: 10px 20px;
            position: absolute;
            right: 5px;
            top: 35px;
            display: flex;
            flex-direction: column;
            span {
                margin: 5px 0px;
                font-family: "Montserrat Medium";
                font-size: $size-16;
                &:hover {
                    color: $color-yellow;
                }
            }
        }
    }
}
.riflow-card-white {
    box-shadow: 0px -37px 36px rgba(0, 0, 0, 0.02);
    background-color: $color-white-100;
    border-radius: 4px;
    padding: 30px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.box-dashed {
    border: 3px dashed $color-gray;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
    &--atwork {
        height: 190px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        //background-images: url("http://i.cdn.turner.com/cnn/2010/SHOWBIZ/Music/07/06/down.under.kookaburra/t1larg.colin.hay.gi.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        .btn-riflow-white {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    }
}