.riflow-search {
    height: 46px;
    background-color: $color-white-100;
    padding: 0px 20px 0px 65px;
    position: relative;
    border-radius: 4px;
    input {
        height: 46px;
        width: 100%;
        border: none;
        font-family: "Montserrat Medium";
        font-size: $size-18;

    }
    img {
        position: absolute;
        left: 20px;
        top: 10px;
    }
}