.riflow-table {
    .header-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 40px;
        .btn-riflow-dark {
            height: 46px;
            img {
                margin-right: 20px;
            }
            span {
                font-size: $size-18;
            }
        }
        @media only screen and (max-width: 599px) {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
    .content-table {
        border-radius: 4px;
        box-shadow: 0px -37px 36px rgba(0, 0, 0, 0.02);
        padding: 30px;
        background-color: $color-white-100;
        width: 100%;
    }
}