.riflow-navbar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100px;
    width: 100%;
    .riflow-navbar-content {
        background: $color-white-100;
        box-shadow: 0px 26px 41px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        height: 60px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;
        span {
            font-family: "Montserrat Regular";
            font-size: $size-18;
        }
        img {
            margin-left: 20px;
        }
    }
}