@font-face {
  font-family: "Montserrat ExtraBold";
  src: url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat Light";
  src: url(../fonts/Montserrat-Light.ttf) format("truetype");
}
body {
  background-color: #000000;
}

*:focus {
  outline: none;
}

.w-auto {
  width: auto;
}

.bg-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  height: 564px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.go-back {
  display: flex;
  align-items: center;
  margin: 40px 0px 30px 0px;
}
.go-back img {
  margin-right: 18px;
}

.logo {
  width: 235px;
  margin-bottom: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.error-message {
  color: #EB5757;
  font-size: 1.5rem;
  font-family: "Montserrat Medium";
  margin-top: 20px;
  padding-left: 40px;
}

.mt-75 {
  margin-top: 75px !important;
}
@media only screen and (max-width: 599px) {
  .mt-75 {
    margin-bottom: 35px !important;
  }
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}
@media only screen and (max-width: 599px) {
  .mb-40 {
    margin-bottom: 20px !important;
  }
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}
@media only screen and (max-width: 599px) {
  .mr-30 {
    margin-bottom: 15px !important;
  }
}

.wrapper-content {
  height: calc(100vh - 303px);
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-family: "Montserrat Regular";
  font-size: 3.4375rem !important;
  margin: 0 !important;
}

h2 {
  font-family: "Montserrat Medium" !important;
  font-size: 2.25rem !important;
  margin: 0 !important;
}

h3 {
  margin: 0 !important;
  font-size: 1.875rem;
  font-family: "Montserrat Medium";
}

h4 {
  margin: 0 !important;
  font-size: 1.5rem;
  font-family: "Montserrat Medium";
}

h5 {
  margin: 0px !important;
  font-size: 1.125rem;
  font-family: "Montserrat Medium";
}

p {
  font-size: 1rem;
  font-family: "Montserrat Medium";
  margin: 0 !important;
}

.label {
  font-family: "Montserrat SemiBold";
  font-size: 1.125rem;
  color: #181719;
}
.label--green {
  color: #3CAA68;
}
.label--red {
  color: #EB5757;
}
.label--blue {
  color: #2F80ED;
}

.label-gray {
  color: #929293;
  font-size: 1.5rem;
  font-family: "Montserrat SemiBold";
}

.copyright {
  color: #929293;
  font-family: "Montserrat Regular";
  font-size: 1rem;
}

.riflow-input {
  width: 100%;
}
.riflow-input input {
  background-color: #DBDBDB;
  border-radius: 4px;
  border: none;
  height: 97px;
  width: 100%;
  font-size: 1.5rem;
  padding: 0px 40px;
  color: #181719;
  font-family: "Montserrat Medium";
}
.riflow-input input::placeholder {
  color: #181719;
  font-family: "Montserrat Medium";
}
.riflow-input .error-message {
  display: none;
}
.riflow-input--error input {
  background-color: #fce7e7;
}
.riflow-input--error .error-message {
  display: block;
}

.custom-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.custom-input input {
  border-radius: 4px;
  background-color: #dbdbdc;
  border: none;
  outline: none;
  padding: 0px 20px;
  height: 46px;
  color: #181719;
  font-family: "Montserrat Medium";
}
.custom-input input:focus {
  outline: none;
  border: none;
}
.custom-input .error-message {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 1.125rem;
  font-family: "Montserrat Medium";
  display: none;
}
.custom-input--error input {
  background-color: #fce7e7;
}
.custom-input--error .error-message {
  display: block;
}

.btn-riflow-dark {
  background-color: #181719;
  border-radius: 4px;
  border: none;
  height: 97px;
  width: 100%;
  font-size: 1.5rem;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-riflow-dark img {
  margin-right: 10px;
}
.btn-riflow-dark span {
  color: #ffffff;
  font-family: "Montserrat Medium";
}
.btn-riflow-dark--small {
  height: 70px;
  min-width: 250px;
  width: auto;
}

.btn-riflow-gray {
  background-color: #DBDBDB;
  border-radius: 4px;
  border: none;
  height: 97px;
  width: 100%;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-riflow-gray span {
  color: #181719;
  font-family: "Montserrat Medium";
  font-size: 1.5rem;
  white-space: nowrap;
}
.btn-riflow-gray img {
  margin-right: 10px;
}
.btn-riflow-gray--small {
  height: 46px;
}
.btn-riflow-gray--small span {
  font-size: 1.125rem;
}

.btn-riflow-white {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  height: 97px;
  width: 100%;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-riflow-white span {
  color: #181719;
  font-family: "Montserrat Medium";
  font-size: 1.5rem;
}
.btn-riflow-white img {
  margin-right: 10px;
}
.btn-riflow-white--small {
  height: 46px;
}
.btn-riflow-white--small span {
  font-size: 1.125rem;
}

.custom-dropdown .dropdown {
  width: 100%;
  height: 46px;
  background-color: #dbdbdc;
  border-radius: 4px;
  margin-bottom: 30px;
}
.custom-dropdown .dropdown button {
  width: 100%;
  height: 46px;
  background-color: #dbdbdc !important;
  border: none !important;
  outline: none !important;
  border-radius: 4px;
  color: #181719;
  font-family: "Montserrat Medium";
  box-shadow: none !important;
}
.custom-dropdown .dropdown button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #181719;
}
.custom-dropdown .dropdown button:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #181719 !important;
}

.riflow-navbar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100px;
  width: 100%;
}
.riflow-navbar .riflow-navbar-content {
  background: #FCFCFC;
  box-shadow: 0px 26px 41px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
.riflow-navbar .riflow-navbar-content span {
  font-family: "Montserrat Regular";
  font-size: 1.125rem;
}
.riflow-navbar .riflow-navbar-content img {
  margin-left: 20px;
}

.riflow-cards {
  padding: 40px 30px;
  background-color: #dededf;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.riflow-cards .avatar {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 20px;
}
.riflow-cards .btn-riflow-white {
  margin-top: 40px;
}
.riflow-cards .icon-more {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.riflow-cards .icon-more .edit-delete {
  box-shadow: 0px 22px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: #FCFCFC;
  padding: 10px 20px;
  position: absolute;
  right: 5px;
  top: 35px;
  display: flex;
  flex-direction: column;
}
.riflow-cards .icon-more .edit-delete span {
  margin: 5px 0px;
  font-family: "Montserrat Medium";
  font-size: 1rem;
}
.riflow-cards .icon-more .edit-delete span:hover {
  color: #F2C94C;
}

.riflow-card-white {
  box-shadow: 0px -37px 36px rgba(0, 0, 0, 0.02);
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 30px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.box-dashed {
  border: 3px dashed #DBDBDB;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.box-dashed--atwork {
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.box-dashed--atwork .btn-riflow-white {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.riflow-table .header-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.riflow-table .header-table .btn-riflow-dark {
  height: 46px;
}
.riflow-table .header-table .btn-riflow-dark img {
  margin-right: 20px;
}
.riflow-table .header-table .btn-riflow-dark span {
  font-size: 1.125rem;
}
@media only screen and (max-width: 599px) {
  .riflow-table .header-table {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.riflow-table .content-table {
  border-radius: 4px;
  box-shadow: 0px -37px 36px rgba(0, 0, 0, 0.02);
  padding: 30px;
  background-color: #FCFCFC;
  width: 100%;
}

.riflow-search {
  height: 46px;
  background-color: #FCFCFC;
  padding: 0px 20px 0px 65px;
  position: relative;
  border-radius: 4px;
}
.riflow-search input {
  height: 46px;
  width: 100%;
  border: none;
  font-family: "Montserrat Medium";
  font-size: 1.125rem;
}
.riflow-search img {
  position: absolute;
  left: 20px;
  top: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
.header img {
  height: 60px;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .riflow-input {
  max-width: 750px;
}
.login .btn-riflow-dark {
  max-width: 750px;
}
.login .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .contact-form h3 {
  margin-bottom: 120px;
}

.single-view-artist .single-header {
  padding: 30px;
  width: 100%;
  box-shadow: 0px 31px 61px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBDBDB;
  margin-right: 20px;
}
.avatar--white {
  background-color: #ffffff;
}

.content-new-song {
  max-width: 555px;
  width: 100%;
  margin: 0 auto;
}
.content-new-song .label {
  margin-bottom: 20px;
}
.content-new-song .box-dashed .btn-riflow-dark {
  height: 46px;
  min-width: fit-content;
  margin-left: 10px;
  width: calc(100% - 10px);
}
.content-new-song .box-dashed .btn-riflow-dark span {
  font-size: 1.125rem;
}
.content-new-song .box-dashed--atwork .btn-riflow-white {
  width: auto;
}

.home {
  background-color: #181719;
  height: 100vh;
}
.home .wrapper-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home h1 {
  color: #FCFCFC;
  margin: 20px 0px 40px 0px !important;
}
.home .last-edition {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px !important;
}
.home .last-edition img {
  margin-right: 10px;
  width: 25px;
  height: auto;
}
.home .last-edition h4 {
  font-family: "Montserrat Regular";
  color: #FCFCFC;
}
.home .card-home {
  background-color: #201F21;
  padding: 30px;
  box-shadow: 0px 49px 85px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 656px;
  width: 100%;
  margin-bottom: 60px;
}
.home .card-home .info .avatar-image {
  height: 140px;
  width: 140px;
  background-image: url("../images/insejn-card-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
