.home {
    background-color: $color-gray-500;
    height: 100vh;
    .wrapper-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        color: $color-white-100;
        margin: 20px 0px 40px 0px !important;
    }
    .last-edition {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px !important;
        img {
            margin-right: 10px;
            width: 25px;
            height: auto;
        }
        h4 {
            font-family: "Montserrat Regular";
            color: $color-white-100;
        }
    }
    .card-home {
        background-color: $color-gray-400;
        padding: 30px;
        box-shadow: 0px 49px 85px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 656px;
        width: 100%;
        margin-bottom: 60px;
        .info {
            .avatar-image {
                height: 140px;
                width: 140px;
                background-image: url("../images/insejn-card-image.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}