.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .riflow-input {
        max-width: 750px;
    }
    .btn-riflow-dark {
        max-width: 750px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            margin-bottom: 120px;
        }
    }
}