.content-new-song {
    max-width: 555px;
    width: 100%;
    margin: 0 auto;
    .label {
        margin-bottom: 20px;
    }
    .box-dashed {
        .btn-riflow-dark {
            height: 46px;
            min-width: fit-content;
            margin-left: 10px;
            width: calc(100% - 10px);
            span {
                font-size: $size-18;
            }
        }
        &--atwork {
            .btn-riflow-white {
                width: auto;
            }
        }
    }
}