.single-view-artist {
    .single-header {
        padding: 30px;
        width: 100%;
        box-shadow: 0px 31px 61px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        background-color: $color-white-100;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}
// Avatar
.avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    margin-right: 20px;
    &--white {
        background-color: $color-white;
    }
}